@import url('normalize.css');
/* ======================Normalize.css====================== */
/* para llamar a otro css desde este solo tienes que importarlo
además lo debes poner siempre de primero */
/*                          Global */


*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    /* width: 100%;
    height: 100%; */
    margin: 0px 0px!important; /* La palabra clave !important se utiliza para dar mayor prioridad a una instrucciones, de manera que las instrucciones siguientes no puedan sobrescribirla. Se le da prioridad frente a todas las demás especificaciones.
    No todos los navegadores la entiende, por lo tanto lo mejor para que una propiedad se aplique
    es aplicarla de último. La última regla es la que prevaleze frente al resto, salvo si usamos importat */
    padding: 0px 0px!important;
    /* el tipo de fuente lo puedes poner en el body
    ya que es una propiedad que se hereda por todos los elementos que están
    entre las etiquetas del body */
}

/* Tipos de encabezados */

h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Párrafos y listas. No los puse por "li" ya que en el encabezado especificaba listas y no elementos de listas 
en este caso se puede colocar tanto en el elemento superior como en los li ya que al igual que ocurre
con la propiedad de la fuente es una propiedad que será heredada por los elementos que estén entre las etiquetas de apertura
y cierre de los p, ul y ol*/

p, ul, ol{
    font-size: .8em;
    
}

/* Enlaces */
a{
    color:black;
}

a:hover{
    text-decoration: none;
    background-color: black;
    color: white;
}


/*                          Navegación lateral */

nav{
    float:left;
    height: 15%;
    padding: 1em;
}

/* Listas desordenadas en el menú de la izquierda */

nav ul{
    font-size: 1.5em;
    line-height: 2em;
    list-style-type: none;
    text-align: center;
    /* mejor eliminar los márgenes y padding*/
    margin: 0em;
    padding: 0em;
    /* margin-left: -20%;*/
}

/* Enlaces navegación */

nav a:hover{
    background-color: #a9a9a9;
}


/*                          Cabecera */

header{
    background-color: #cccccc;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    line-height: 5px;
    
}

header h2{
    font-size: 1em;
}

/*                          Contenido */

#content{
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    margin: 5px 0px;
}

#content ul{
    list-style-type: circle;
}

/*                          Pié de página */

footer{
    position:static;
    width: 100%;
    bottom: 0;
    height: auto;
    background-color: #cccccc;
    background-image: linear-gradient(to right, #c9c9c9, #888888);
  }
  
  footer p{
    font-weight: bold;
    color: white;
    margin: 0px;
/* para evitar los desbordamientos para dispositivos más pequeños */
 /* BOTH of the following are required for text-overflow
    white-space: nowrap ->Elimina los espacios en blanco a un solo espacio. 
	y suprime saltos de linea del origen. */
    white-space: nowrap;
    /*overflow: hidden en tu caja, que hace exactamente lo que dice: ocultar el desbordamiento*/
	overflow: hidden;
}

#footer-left{
    float:left;
    height: 31px;
    vertical-align: text-top;
    padding-left: 1%;
    /* podemos hacer que en el texto se ponga .. reduciendo el texto */
    text-overflow: ellipsis;
}


#footer-right{
  float:right;
  text-align: start;
  height: 31px;

}
#footer-right a:hover{
  background-color: transparent;
}

/* Modifico la imagen para que vaya hasta el final, si no me hace overflow */

#footer-right a img{
  vertical-align: bottom;
}


